.search-result-row
  %h4.snippet-title.term
    = link_to reliable_snippet_path(snippet_title) do
      = truncate(snippet_title.title, length: 60)
      - if snippet_title.private?
        %span.badge.badge-gray
          %i.fa.fa-lock
          = _("private")
    %span.cgray.monospace.tiny.float-right.term
      = snippet_title.file_name

  %small.float-right.cgray
    - if snippet_title.project_id?
      = link_to snippet_title.project.full_name, project_path(snippet_title.project)

  .snippet-info
    = snippet_title.to_reference
    %span
      属于
      = link_to user_snippets_path(snippet_title.author) do
        = image_tag avatar_icon_for_user(snippet_title.author), class: "avatar avatar-inline s16", alt: ''
        = snippet_title.author_name
      %span.light= time_ago_with_tooltip(snippet_title.created_at)
